html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  width: 100%;
  height: 100vh;
  align-items: center;
  position: relative;
  background-color: #0a192f;
}

.main {
  position: absolute;
  max-width: 100vw;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  font-size: 1em;
  border-radius: 10px;
}

.header-section {
  position: sticky;
  height: 40vh;
  box-sizing: border-box;
  background-color: rgba(10, 25, 47, 0.85);
  color: #CCD6F6;
  max-width: 100vw;
  /* display: flex;
  justify-content: space-between; */

}

.intro-page {
  padding: 1em;
  width: 100%;
  /* height: 40vh; */
  box-sizing: border-box;
}

.intro {
  margin-bottom: 15px;
}

.page-links>div {
  margin: .5em;
}

.profile-name {
  color: #ccd6f6;
  margin-left: 10px;
  font-size: 2em;
  color: rgb(152, 243, 223);

}

.link-hover {
  color: #ccd6f6;
}

.link-hover:hover {
  color: rgb(152, 243, 223)
}

.contact-phone .tool-tip {
  visibility: hidden;
  width: fit-content;
  background-color: #ccd6f6;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.5em;
  color: #8892b0
    /* Position the tooltip text - see examples below! */

}

.contact-phone:hover .tool-tip {
  visibility: visible;
}


.resume-content {
  margin: auto auto;
  width: inherit;
  height: 70vh;
  padding: 1em;
  /* box-sizing: border-box; */
  background-color: #0a192f;
  color: #8892b0;
  overflow: scroll;
  position: relative;
  font-size: 1.2em;
}

.about-me {
  text-align: left;
}



.project-work,
.job {
  color: #a8b2d1;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  opacity: 1;
  font-weight: 300;
  /* text-shadow: 1px 1px 1px #a8b2d1; */
  margin-bottom: 0;
}

.projects-detail,
.experience {
  text-align: left;
}

.project-name,
.company {
  color: #CCD6F6;
  text-transform: capitalize;
  font-size: 1em;
  /* font-size: clamp(40px, 8vw, 80px); */
}

.job {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: #CCD6F6;
}

a:hover {
  color: rgb(152, 243, 223)
}

ul {
  list-style: none
}

.job>li::before,
.project-work>li::before {
  content: "➮";
  margin-right: 10px;
  color: rgb(152, 243, 223)
}

.skills>ul {
  text-align: left;
}

.skills>li {
  margin-top: 10px;
}

.skills>li::before {
  content: "➮";
  color: rgb(152, 243, 223)
}

span {
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(152, 243, 223);
}

.back-button {
  border: none;
  text-decoration: underline;
  color: white;
  background-color: black;
  margin-bottom: 10px;
  position: absolute;
  top: 30;
  right: 10;
}

.role {
  margin-top: 0;
}

.duration {
  margin-top: 0px;
  color: #ccd6f6;
  font-size: 0.8em;
}

.contact-details {
  text-align: left;
  color: #a8b2d1;
  font-size: 1em;
  margin: auto 0
}

.contact-anchor {
  color: #a8b2d1;
  margin-right: 10px;
}



.contact-email,
.contact-phone,
.contact-linkedin,
.contact-portfolio {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contact {
  margin: 0px;
}


.fa-sharp,
.fa-regular,
.fa-brands {
  color: rgb(152, 243, 223);
}

@media (max-width:380px) {
  .header-section {
    height: 40vh;
  }

}

@media (min-width:385px) {
  .header-section {
    height: 29vh;
  }
}

@media (min-width:500px) {
  .header-section {
    display: flex;
    height: 25vh;
  }

  .profile-name {
    font-size: 3em;
  }

  .about-me {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding: 1em;
  }


  .main-statement {
    width: 50vw;
  }

  .intro {
    display: flex;
    align-items: center;
  }

  .skills {
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
  }

  .skills>li {
    margin-right: 30px;
  }


  .contact-details {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.111);
    width: 50%;
    height: auto;
    margin: auto auto;
    padding: 1.em;
    box-sizing: border-box;
    font-size: 1.2em;
  }

  .contact-details>a {
    color: #a8b2d1;
  }

  /* .contact-anchor,
  .contact-email,
  .contact-linkedin {
    margin-left: 10px;
  } */

  .intro-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  .project {
    width: 100vw;
  }

  .company-role {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-links {
    display: flex;
  }

}