html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  align-items: center;
  position: relative;
  /* background-color: pink; */
  background-color: #0a192f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  position: absolute;
  max-width: 100vw;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  border-radius: 10px;
}

.header-section {
  position: sticky;
  height: 40vh;
  box-sizing: border-box;
  background-color: #0a192f;
  color: #CCD6F6;
  border-bottom: 1px solid #eee;
  max-width: 100vw;
  /* display: flex;
  justify-content: space-between; */

}

.intro-page {
  padding: 1em;
  width: 100%;
  /* height: 40vh; */
  box-sizing: border-box;
}

.intro {
  margin-bottom: 15px;
}

.page-links>div {
  margin: .5em;
}

.profile-name {
  color: #ccd6f6;
  margin-left: 10px;

}

.link-hover {
  color: #ccd6f6;
}

.link-hover:hover {
  color: rgb(152, 243, 223)
}

.contact-phone .tool-tip {
  visibility: hidden;
  width: fit-content;
  background-color: #ccd6f6;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.5em;
  color: #8892b0
    /* Position the tooltip text - see examples below! */

}

.contact-phone:hover .tool-tip {
  visibility: visible;
}

img {
  max-width: 15vh;
  height: 15vh;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.resume-content {
  margin: auto auto;
  width: inherit;
  height: 70vh;
  padding: 1em;
  /* box-sizing: border-box; */
  letter-spacing: 0.01em;
  background-color: #0a192f;
  color: #8892b0;
  overflow: scroll;
  position: relative;
  font-size: 1.2em;
}

.about-me {
  font-family: monospace;
  text-align: left;

}



.project-work,
.job {
  color: #a8b2d1;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  opacity: 1;
  font-weight: 300;
  /* text-shadow: 1px 1px 1px #a8b2d1; */
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projects-detail,
.experience {
  text-align: left;
}

.project-name,
.company {
  color: #CCD6F6;
  text-transform: capitalize;
  font-size: 1em;
  /* font-size: clamp(40px, 8vw, 80px); */
}

a {
  text-decoration: none;
  color: #CCD6F6;
}

a:hover {
  color: rgb(152, 243, 223)
}

ul {
  list-style: none
}

.job>li::before,
.project-work>li::before {
  content: "➮";
  color: rgb(152, 243, 223)
}

.skills>ul {
  text-align: left;
}

.skills>li {
  margin-top: 10px;
}

.skills>li::before {
  content: "➮";
  color: rgb(152, 243, 223)
}

span {
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(152, 243, 223);
}

.back-button {
  border: none;
  text-decoration: underline;
  color: white;
  background-color: black;
  margin-bottom: 10px;
  position: absolute;
  top: 30;
  right: 10;
}

.role {
  margin-top: 0;
}

.duration {
  margin-top: 0px;
  font-family: monospace;
  color: #ccd6f6;
}

.contact-details {
  text-align: left;
  color: #a8b2d1;
  font-size: 1.2em;
  letter-spacing: 0.01em;
  margin: auto 0
}

.contact-anchor {
  color: #a8b2d1;
}



.contact-email,
.contact-phone,
.contact-linkedin,
.contact-portfolio {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contact {
  margin: 0px;
}


.fa-sharp,
.fa-regular,
.fa-brands {
  color: rgb(152, 243, 223);
}

@media (min-width:385px) {
  .header-section {
    height: 29vh;
  }
}

@media (min-width:500px) {
  .header-section {
    display: flex;
    height: 25vh;
  }

  .intro {
    display: flex;
    align-items: center;
  }

  .contact-details {
    text-align: left;
    border: 1px solid black;
    width: 50%;
    height: auto;
    margin: auto auto;
    padding: 1em;
    box-sizing: border-box;
  }

  .contact-details>a {
    color: #a8b2d1;
  }

  .intro-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .company-role {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-links {
    display: flex;
  }

}